<h2> Iniciando una modal. 
    <span>
    <button class="btn btn-success" (click)="open(m_agregarPersona)">Agregar</button>
    <button class="btn btn-warning" style="margin-left: 10px;" (click)="open(m_cartel)">Prueba</button>
    </span>
</h2>

<app-listar></app-listar>
<!-- <app-add></app-add> -->
<ng-template  #m_cartel let-c="close" let-d="dismiss" >
    <div class="ventana">
        <h2>Esto es un mensaje</h2>
    </div>
    
</ng-template>
<ng-template  #m_agregarPersona let-c="close" let-d="dismiss" class="mimodal">
   
            <div class="modal-header">
                <h2>Agregar persona</h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" novalidate (ngSubmit)="agregar($event)">
                   
                   <div class="from-group">
                     <label for="nombre">Nombre:</label>
                     <input type="text" formControlName="nombre" >
                   </div>
                    <div class="from-group">
                        <label for="nombre">Apellido:</label>
                        <input type="text" formControlName="apellido" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="agregar($event)" class="btn btn-success">Guardar</button> 
            </div>
    
        </ng-template>


<router-outlet></router-outlet>
